
analysis/.DS_Store

.DS_Store

analysis/.Rapp.history

paper/salmon_paper_v3.pdf

paper/salmon_paper_appendix_v3.pdf

paper/salmon_paper_v3.docx

paper/salmon_paper_appendix_cache/latex/unnamed-chunk-3_5a43deaf192939a8b5155e904ce00f32.rdx

*.rdb

*.RData

*.rdx

paper/salmon_paper_appendix_cache/latex/__packages

paper/.Rhistory

*.rds

*.pdf

*.rda

*.RdataTmp
.Rproj.user

data-generated/salmon.feather

.Rhistory
